@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #434343;
    display: flex;
    align-items: center;
    height: 100px;
}

.logo {
    margin-left: 20px;

}

.main_visual {
}

.header_menu {
    background-color: rgba(255, 255, 255, 0.7);
}

.header_list {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}

.header_list_item {
    list-style: none;
    float: left;
}

.main_visual img {
    width: 100%;
}